@import "tailwindcss";
/* input{
    background-image: url(/images/location.png);
} */
.bg{
    background-image: url(/images/pic\ 1.png);
    background-color: radial-gradient(circle_at_top_left,_rgba(173,216,230,0.6),_rgba(255,255,255,0));
}
.font{
    font-size: 10px;
}
.rounded_bl{
    border-radius: 0 0 0 100px;
}
.mt{
    margin-top: 570px;
}
@media (max-with:576px){
    
}